* {
  background-image: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #89b4fa;
  font-size: 20px;
  font-weight: bold;
  background-color: #313244;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  outline-style: none;
  background-color: #515264;
}

#logout {
  background-image: image(url("/home/vitorwdson/.config/wlogout/logout.svg"));
}

#shutdown {
  background-image: image(
    url("/home/vitorwdson/.config/wlogout/power-off.svg")
  );
}

#reboot {
  background-image: image(url("/home/vitorwdson/.config/wlogout/reboot.svg"));
}
