/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "FiraCode Nerd Font", FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

window {
  background-image: image(url("images/bg.png"));
}

button {
  color: #ffffff;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;

  margin: 10px;
  border-radius: 20px;

  border-style: solid;
  background-color: rgba(12, 12, 12, 0.3);
  border: 3px solid #ffffff;
  outline: none;

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  background-color: rgba(12, 12, 12, 0.5);
  border: 3px solid #1D92D5;
}

/* 
----------------------------------------------------- 
Buttons
----------------------------------------------------- 
*/

#lock {
  background-image: image(url("images/lock.png"));
}

#logout {
  background-image: image(url("images/logout.png"));
}

#shutdown {
  background-image: image(url("images/shutdown.png"));
}

#reboot {
  background-image: image(url("images/reboot.png"));
}
