* {
  border: none;
  border-radius: 0px;
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button:not(:last-child) {
  margin-right: 5px;
}

#workspaces button {
  color: #313244;
  padding: 0 7px 0 3px;
  border-radius: 20px;
  transition: 0.3s;
}

#workspaces button label {
  font-size: 12px;
}

#workspaces button.active {
  color: #a6adc8;
  background: rgba(255, 255, 255, 0.3);
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #f9e2af;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#custom-power_profile,
#custom-weather,
#custom-spotify,
#custom-powermenu,
#custom-notification,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#cpu,
#memory,
#backlight {
  background: #1e1e2e;
  opacity: 0.8;
  padding: 0px 10px;
  margin: 0;
  margin-top: 5px;
  border: 1px solid #181825;
}

#memory {
  border-radius: 20px 0px 0px 20px;
  padding: 0px 10px;
  border-right: 0px;
}

#cpu {
  border-radius: 0px 20px 20px 0px;
  margin-right: 5px;
  padding: 0px 10px;
  border-left: 0px;
}

#tray {
  border-radius: 20px;
  margin-right: 5px;
  padding: 0px 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 20px;
  margin-left: 6px;
  padding-right: 0px;
  padding-left: 0px;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#clock {
  color: #89b4fa;
  border-radius: 20px;
  margin-left: 5px;
  border-right: 0px;
  padding-left: 7px;
}

#network {
  color: #f9e2af;
  border-radius: 20px 0px 0px 20px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: #89b4fa;
  border-radius: 20px;
  margin-right: 10px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 20px 20px 0px;
  margin-right: 5px;
  padding-right: 8px;
}

#custom-spotify {
  border-radius: 20px;
  margin-left: 5px;
  transition: 0.3s;
}

#custom-spotify.playing {
  color: #a6e3a1;
}

#custom-powermenu {
  border-radius: 100%;
  margin-right: 6px;
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px 0 6;
}

#custom-powermenu:hover {
  background: #11111b;
  color: #cdd6f4;
}

#custom-notification {
  font-family: "FiraCode Nerd Font";
  border-radius: 20px;
  margin-right: 5px;
  font-size: 15px;
}
